.detail-l{width:700px;float:left}.detailContent{width:698px;border:1px
solid #ececec;background:#fff;padding-top:28px;text-align:left;}.detailContent .title-stat{width:650px;margin:0
24px;border-bottom:1px solid #f2f2f2;overflow:hidden}.detailContent .title-stat
.pic{width:150px;height:146px;float:left;position:relative;margin-right:37px}.detailContent .title-stat .pic
img{width:140px;height:140px;padding:0
5px}.title-stat
.leftContent{width:185px;float:left}.title-stat .pic
.cover{width:150px;height:146px;background:url("cover-bg.png")/*tpa=http://www.h5web.cn/static/images/cover-bg.png*/ no-repeat 0 0;cursor:pointer;left:0;position:absolute;top:0}.title-stat
.txt{width:550px;float:left;position:relative;padding-bottom:10px}.title-stat .txt
h1{font-size:24px;color:#000;font-weight:lighter}.title-stat .txt
ul{margin-top:25px}.title-stat .txt
li{color:#797979;display:block;margin-bottom:3px;line-height:24px}.title-stat .txt li
a{color:#797979;padding:0 4px;}.title-stat .txt li a:hover{color:#8db391}.title-stat .txt li.w-450{width:450px}.title-stat
.bMunber{width:650px;height:60px;padding-top:20px;position:relative;border-top:1px solid #f2f2f2}.title-stat .leftContent
.munberBox{width:186px;float:left;margin-top:20px;position:relative}.title-stat .leftContent .munberBox
span{padding-left:20px;width:60px;height:34px;cursor:pointer;display:block;float:left;font-size:18px;color:#8f8f8f;font-family:'Century Gothic';margin:6px
8px 0 0;position:relative}.title-stat .leftContent .munberBox
span.addDownTxt{display:none;padding:0;width:auto;height:auto;float:none;margin:0}.title-stat .leftContent .munberBox .addAnimate,.title-stat .leftContent .munberBox
.descAnimate{position:absolute;left:20%;top:-5px;color:#F90;font-size:14px;display:none}.bMunber
.share{width:240px;height:30px;float:right;margin-top:10px}
.bMunber .share span{float:left;line-height:20px}
.bMunber .share span{display:block;float:left;margin:5px 5px 0 5px;display:inline}
.bMunber .yulan{width:136px;height:38px;display:block;font-family:"Î¢ÈíÑÅºÚ";background:url("btn-public.png")/*tpa=http://www.h5web.cn/images/btn-public.png*/ no-repeat 0 -371px;float:left;font-size:16px;font-weight:bold;color:#fff;text-align:center;line-height:38px;margin:0 35px 0 20px}
.bMunber .xiazai{width:136px;height:38px;display:block;font-family:"Î¢ÈíÑÅºÚ";background:url("btn-public.png")/*tpa=http://www.h5web.cn/images/btn-public.png*/ no-repeat 0 -411px;float:left;font-size:16px;font-weight:bold;color:#fff;text-align:center;line-height:38px}.title-stat .txt
.downMunber{width:210px;height:40px;float:right;font-family:'Century Cothic','Î¢ÈíÑÅºÚ';text-align:right;position:absolute;right:-8px;top:46px}.title-stat .txt .downMunber
ul{float:right}.title-stat .txt .downMunber
li{height:32px;float:left;text-align:center;font-size:12px;padding:0
10px;line-height:18px}.title-stat .txt .downMunber li
a{color:#838383}.title-stat .txt .downMunber li a:hover{color:#3aa9ff}.title-stat .txt .downMunber
.borderR{border-right:1px solid #dadada}.title-stat .txt .downMunber
span{color:#3aa9ff;font-size:14px}.title-stat .leftContent
.errMsg{width:186px;text-align:center;color:red;display:none}.detailContent
.aboutIntr{width:620px;border-bottom:1px solid #f2f2f2;padding:10px
15px 22px;margin:0
24px;overflow:auto;position:relative}.detailContent .content-title{margin-top:17px}.aboutIntr
.aoubtTxt{width:620px;color:#838383;line-height:22px;overflow:hidden}.aboutIntr .aoubtTxt
.conTxt{margin-bottom:35px;font-family:'Arial';word-break:break-all;text-align:justify;line-height:22px;overflow:hidden}.aboutIntr .aoubtTxt
h2{height:20px;display:block;color:#000;font-family:'Î¢ÈíÑÅºÚ';font-size:14px;margin-bottom:10px;overflow:hidden}.aboutIntr .more-btn{width:61px;height:20px;outline:none;display:block;position:absolute;left:270px;bottom:0}.aboutIntr
a.more{background:url("choose_more.gif")/*tpa=http://www.h5web.cn/static/images/choose_more.gif*/ no-repeat}.aboutIntr
a.off{background:url("choose_more1.gif")/*tpa=http://www.h5web.cn/static/images/choose_more1.gif*/ no-repeat}.detailContent
.gamePic{width:650px;padding-top:27px;margin:0
24px;border-bottom:1px solid #f2f2f2}.gamePic
.title{width:650px;height:53px}.gamePic .title
h2{float:left;font-weight:lighter;color:#3aa9ff;font-size:18px;line-height:20px;height:20px}.gamePic .title h2
span{width:0px;height:0px;overflow:hidden;display:block}.gamePic .title
span{float:left;line-height:23px}.gamePic .title
span.ctrlBtn{background:#fbfbfa;display:block;float:right;width:78px;height:22px;line-height:22px;text-align:center;color:#828282;border:1px
solid #eaeaea;margin-left:10px;cursor:pointer}.gamePic .title span.ctrlBtn:hover, .gamePic .title
span.hover{color:#3aa9ff}.gamePic
.picBox{width:648px;height:300px;padding:2px
0;border:1px
solid #f2f2f2;overflow:hidden;position:relative}.gamePic .picBox
.pic{width:6648px;height:296px;position:relative;left:0;padding:2px
0}.gamePic .picBox .pic
a{display:block}.gamePic .picBox .pic
img{margin:0
5px;float:left;z-index:-1;height:294px}.gamePic .picBox
.previous{width:55px;height:55px;background:url("btn-public.png")/*tpa=http://www.h5web.cn/images/btn-public.png*/ no-repeat 0 -82px;position:absolute;left:0;top:123px;z-index:99;display:none;filter:alpha(opacity=70);opacity:0.7}.gamePic .picBox .previous:hover{background:url("btn-public.png")/*tpa=http://www.h5web.cn/images/btn-public.png*/ no-repeat 0 -137px;filter:alpha(opacity=100);opacity:1}.gamePic .picBox
.next{width:55px;height:55px;background:url("btn-public.png")/*tpa=http://www.h5web.cn/images/btn-public.png*/ no-repeat -60px -81px;position:absolute;right:0;top:123px;z-index:99;display:none;filter:alpha(opacity=70);opacity:0.7}.gamePic .picBox .next:hover{background:url("btn-public.png")/*tpa=http://www.h5web.cn/images/btn-public.png*/ no-repeat -60px -137px;filter:alpha(opacity=100);opacity:1}.detailContent
.gameNews{width:698px;height:356px;padding-top:23px;margin:0
24px 30px 0px;border-left:1px solid #ececec;border-right:1px solid #ececec;background:#fff;}.detailContent .gameNews
h3{height:23px;color:#000;font-size:14px}.detailContent .gameNews
ul{border-bottom:1px dotted #dcdcdc;padding:10px
0;float:left}.detailContent .gameNews
li{width:310px;height:28px;line-height:28px;background:url("public-ico-1.png")/*tpa=http://www.h5web.cn/static/images/public-ico.png*/ no-repeat 0 -663px;padding-left:15px;float:left}.detailContent .gameNews
a{color:#767676}.detailContent .gameNews a:hover{color:#1388e2;text-decoration:none}.detailContent .gameNews
li.noBack{background:none;padding-left:0}.detailContent .gameNews
span{color:#000}#commentPart{width:698px;_width:696px;height:440px;margin-top:20px;border:1px
solid #ececec;float:left}.detail-r{width:260px}.detail-r
.gameRank{width:100%}.detail-r
h2{height:38px;line-height:38px;font-size:14px;font-weight:lighter;color:#000;padding-left:15px;float:left}.detail-r .gameRank
.nameDown{width:228px}.detail-r .gameRank
.listIco{margin:10px
0 0 15px}.detail-r
.gameRank{width:258px;float:none;background:#fff}.userLike{width:258px;border:1px
solid #eee;background:#fff;text-align:left;overflow:auto}.userLike
a{text-decoration:none}.userLike
dl{width:258px;float:left;overflow:hidden;border-top:1px solid #eee}.userLike
dl.hover{border-top:1px solid #59c46c}.userLike dl.hover .app_downl
.dl_a{background:#59c46c;color:#fff}.userLike dl
dt{width:64px;height:64px;padding:16px
11px 15px 11px;_padding:13px
11px 13px 11px;float:left}.userLike dl dt
a{display:inline-block;position:relative;padding:2px}.userLike dl dt a
img{width:60px;height:60px;z-index:2}.userLike dl dt
.cover{width:64px;height:64px;background:url("cover-bg.png")/*tpa=http://www.h5web.cn/static/images/cover-bg.png*/ no-repeat -86px -147px;cursor:pointer;left:0;position:absolute;top:0}.userLike dl
dd.app_title{width:172px;float:left;overflow:hidden;padding-top:10px;line-height:21px}.userLike dl dd.app_title
h4{width:172px;font-size:14px;font-weight:normal;overflow:hidden;height:27px;line-height:26px}.userLike dl dd.app_title h4
a{color:#101010}.userLike dl dd.app_title h4 a:hover{color:#007915}.userLike dl dd.app_title
p{color:#858585}.userLike dl dd.app_title p
span{color:#cbcbcb;padding:0
10px}.userLike dl dd.app_title
ul{width:172px;overflow:hidden}.userLike dl dd.app_title ul
li{float:left;padding-right:10px}.userLike dl dd.app_title ul li
a{color:#93afd6;text-decoration:underline}.userLike dl dd.app_title ul li a:hover{color:#008cf9;text-decoration:underline}.userLike dl
dd.app_downl{width:243px;line-height:33px;border-top:1px solid #ececec;float:left;padding-left:15px}.userLike dl dd.app_downl
.free{width:113px;height:32px;display:block;float:left;border-right:1px solid #f2f2f2;background:url("public-ico-1.png")/*tpa=http://www.h5web.cn/static/images/public-ico.png*/ no-repeat -176px -180px;text-align:center;line-height:30px;color:#909090}.userLike dl dd.app_downl
.jailbreak{width:128px;height:32px;float:left;background:url("public-ico-1.png")/*tpa=http://www.h5web.cn/static/images/public-ico.png*/ no-repeat -165px -180px;text-align:center;line-height:30px;color:#909090}.userLike dl dd.app_downl .free:hover{color:#3aa9ff;background-position:-176px -206px}.userLike dl dd.app_downl .jailbreak:hover{color:#3aa9ff;background-position:-165px -206px}.topicReco{width:258px;border:1px
solid #eee;background:#fff;overflow:auto}.topicReco
.topTitle{width:258px;height:41px;border-bottom:1px solid #3aa9ff}.topicReco
ul{margin:5px
15px 0 15px}.topicReco
li{width:228px;height:126px;margin:15px
0;display:block;position:relative;zoom:1}.topicReco li
img{width:228px;height:126px}.topicReco
.more{width:45px;height:41px;background:url("public-ico-1.png")/*tpa=http://www.h5web.cn/static/images/public-ico.png*/ no-repeat 0 -395px;float:right;margin-right:10px}.topicReco a.more:hover{background:url("public-ico-1.png")/*tpa=http://www.h5web.cn/static/images/public-ico.png*/ no-repeat 0 -362px}.topicReco li
.name{width:228px;height:28px;position:absolute;left:0;bottom:0;display:block;z-index:2;text-align:center;font-size:12px;line-height:28px;color:#f1f1f1}.topicReco li .name:hover{color:#fff;text-decoration:none}.topicReco li
.mask{width:228px;height:28px;position:absolute;left:0;bottom:0;background:#000;filter:alpha(opacity=40);opacity:0.4;-moz-opacity: .4}.topicReco li:hover
.mask{filter:alpha(opacity=100);opacity:1;-moz-opacity:1}#layer_weixin{position:absolute;text-align:left;width:368px;padding:3px;border-radius:2px;top:30%;left:30%;z-index:99999}#layer_weixin
.layer_con{position:relative;color:#000;line-height:22px;background:#fff;border:1px
solid #bfbfbf;border-radius:4px;box-shadow:0px 0px 4px #ccc}#layer_weixin
.layer_header{width:100%;height:45px;border-bottom:1px solid #f0f0f0}#layer_weixin .layer_header
h3{float:left;height:26px;line-height:24px;font-size:15px;margin:10px
0 0 15px}#layer_weixin
.layer_center{position:relative;padding:25px
10px;text-align:center}#layer_weixin
.layer_footer{padding:15px;color:#333;border-top:1px solid #f0f0f0}#layer_weixin .layer_footer
a{color:#a8a8a8}#layer_weixin .layer_footer a:hover{color:#59C46C}#closeWeixin{display:block;background:url("weixin.png")/*tpa=http://www.h5web.cn/static/images/weixin.png*/ 0px 0px no-repeat;width:40px;height:40px;margin-top:4px;margin-right:4px;text-indent:-999px;cursor:pointer;float:right}#closeWeixin:hover{background-position:0px -40px}.toggle-more{background:url("public-ico-1.png")/*tpa=http://www.h5web.cn/static/images/public-ico.png*/ no-repeat 29px -112px;color:#3AA9FF;padding-right:20px;display:block}.toggle-more:hover{color:#3AA9FF;text-decoration:none}
.favbtn{
     width:60px
	height:16px;
	padding:5px;
	float:right;
	background-color:#999;
	cursor:pointer;
	color:#FFF;
}
.favbtn:hover{
	background-color:#3498db;
	color:#FFF;
}

.favbtn1{
     width:60px
	height:16px;
	padding:5px;
	float:right;
	background-color:#ff9a00;
	cursor:pointer;
	color:#FFF;
}
.favbtn1:hover{
	background-color:#3498db;
	color:#FFF;
}

.txt-bottom-box{padding-top: 30px; width:600px; margin-left:30px}
.txt-bottom-box .keyword-box{float: left;color: #eaeaea;}
.txt-bottom-box .keyword-box a{color: #fff; padding: 0 5px 0 3px;}
.txt-bottom-box .keyword-box a:hover{color: #fff;}
.txt-bottom-box .keyword-box em{color: #fff;background-color: #424242;padding: 3px 5px;}
.red-bgc{background-color: #f0382a;}
.orange-bgc{background-color: #f0802a;}
.yellow-bgc{background-color: #f0a82a;}
.blue-bgc{background-color: #62b5e5;}
.cyan-bgc{background-color: #01c3c3;}
.relatedNews{width: 100%; height: 300px;overflow: hidden; margin-left:30px;}
.relatedNews h2{height: 55px; line-height: 65px; color: #000; font-size: 14px;font-weight: 700;}
.relateList{width: 678px; padding-bottom: 20px;}
.relateList li{width: 190px; height: 222px; line-height: 30px; float: left; margin-right: 20px; overflow: hidden;text-align:center;}
.relateList li a{color: #636363;}

.bluecolor{color:#0066CC;}