#breadcrumb {
	MARGIN-BOTTOM: 30px;  HEIGHT: 34px
}
#browse {
	PADDING-BOTTOM: 2px; TEXT-INDENT: 20px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 18px; FONT-SIZE: 14px; PADDING-TOP: 2px
}
#show-area {
	WIDTH: 650px; MARGIN-RIGHT: 20px
}
#show-area H3 {
	MARGIN-BOTTOM: 20px; COLOR: #999; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.show-area-pic {
	
}
#show-detail {
	WIDTH: 290px
}
.show-area-dscp {
	LINE-HEIGHT: 20px; MARGIN-TOP: 20px; WIDTH: 650px; WORD-WRAP: break-word; WHITE-SPACE: normal
}
#show-detail {
	POSITION: relative; TOP: 35px
}
#show-detail-download {
	WIDTH: 195px; DISPLAY: block; MARGIN-BOTTOM: 20px;  HEIGHT: 62px
}

.show-detail-dl_dscp SPAN {
	WIDTH: 80px; DISPLAY: inline-block
}
.connections {
	MARGIN-TOP: 20px; BACKGROUND: red; HEIGHT: 55px
}
.show-detail-params {
	MARGIN-TOP: 20px
}
.show-detail-params TD {
	PADDING-BOTTOM: 8px; WIDTH: 145px; PADDING-TOP: 8px
}
.show-detail-params TH {
	PADDING-BOTTOM: 8px; WIDTH: 145px; PADDING-TOP: 8px
}
.show-detail-params TH {
	COLOR: #333; FONT-SIZE: 18px; FONT-WEIGHT: bolder
}
#banner {
	WIDTH: 960px; MARGIN-BOTTOM: 20px; HEIGHT: 32px; BORDER-TOP: #dbdbdb 1px solid
}
#banner IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN-TOP: -2px; WIDTH: 80px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.flow-box {
	BORDER-BOTTOM: #e9e9e9 1px solid; BORDER-LEFT: #e9e9e9 1px solid; PADDING-BOTTOM: 10px; WIDTH: 237px; DISPLAY: inline; MARGIN-BOTTOM: 10px; FLOAT: left; HEIGHT: auto; MARGIN-LEFT: 5px; BORDER-TOP: #e9e9e9 1px solid; BORDER-RIGHT: #e9e9e9 1px solid; PADDING-TOP: 11px
}
.flow-thumb {
	TEXT-ALIGN: center
}
.flow-info {
	WIDTH: 200px; MARGIN-LEFT: 15px
}
.flow-info P {
	LINE-HEIGHT: 170%; WIDTH: 150px; HEIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 3px
}
.padding-t {
	MARGIN-TOP: 5px
}
.flow-info P.fl {
	MARGIN-TOP: -4px
}
.flow-dl {
	MARGIN-TOP: -8px; WIDTH: 43px; HEIGHT: 26px
}

.flow-border {
	POSITION: relative; WIDTH: 225px; BOTTOM: 0px; HEIGHT: 3px; FONT-SIZE: 0px; TOP: 10px
}
.categories {
	MARGIN-TOP: 20px; WIDTH: 910px; BORDER-TOP: #dcdcdc 1px dotted; PADDING-TOP: 20px
}
.categories UL {
	
}
.categories UL LI {
	PADDING-BOTTOM: 15px; WIDTH: 120px; DISPLAY: inline; FLOAT: left; 
}
.categories UL LI A:hover {
	TEXT-DECORATION: underline
}
.category {
	BORDER-BOTTOM: #e2e1e1 1px solid; BORDER-LEFT: #e2e1e1 1px solid; PADDING-LEFT: 20px; WIDTH: 910px; BORDER-TOP: #e2e1e1 1px solid; BORDER-RIGHT: #e2e1e1 1px solid
}
#cat_breadcrumb {
	MARGIN-BOTTOM: 15px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.category UL A {
	COLOR: #999
}
.category UL A:hover {
	COLOR: #38a42f
}
.cat-order {
	WIDTH: 960px; BACKGROUND: #f7f7f7
}
.cat-order SPAN {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-LEFT: 5px; PADDING-TOP: 10px
}
.cat-order A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-LEFT: 5px; PADDING-TOP: 10px
}
.cat-order DIV {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-LEFT: 5px; PADDING-TOP: 10px
}
.pager {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; MARGIN: 20px auto 90px; WIDTH: 1000px;  HEIGHT: 46px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid
}
.pager-linkPage {
	FLOAT: left; MARGIN-LEFT: 100px
}
.pager A {
	BORDER-LEFT: transparent 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline; FLOAT: left; COLOR: #999; FONT-SIZE: 16px; FONT-WEIGHT: bold; BORDER-RIGHT: transparent 1px solid; PADDING-TOP: 15px; _border-left-color: tomato; _border-right-color: tomato
}
.pager SPAN {
	BORDER-LEFT: transparent 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline; FLOAT: left; COLOR: #999; FONT-SIZE: 16px; FONT-WEIGHT: bold; BORDER-RIGHT: transparent 1px solid; PADDING-TOP: 15px; _border-left-color: tomato; _border-right-color: tomato
}
.pager A.upPage {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 35px; PADDING-RIGHT: 35px; PADDING-TOP: 15px
}
.pager A.downPage {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 35px; PADDING-RIGHT: 35px; PADDING-TOP: 15px
}
.pager A.downPage {
	FLOAT: right
}
.pager A:hover {
	BORDER-LEFT: #c8c8c8 1px solid;COLOR: #38a42f; BORDER-RIGHT: #c8c8c8 1px solid
}
.pager .current {
	BORDER-LEFT: #c8c8c8 1px solid; BACKGROUND: #fbfbfb; COLOR: #38a42f; BORDER-RIGHT: #c8c8c8 1px solid
}
.page .current {
	BACKGROUND: #38a42f; COLOR: #fff
}
.page A:hover {
	BACKGROUND: #38a42f; COLOR: #fff
}
#cat-current {
	COLOR: #38a42f
}
.home-banner {
	HEIGHT: 30px
}
.home-categories {
	PADDING-TOP: 20px
}
.home-categories UL P {
	MARGIN-BOTTOM: 10px
}
.home-categories UL {
	WIDTH: 170px; FLOAT: left
}
.home-categories UL A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; FONT-SIZE: 14px; TEXT-DECORATION: none; PADDING-TOP: 10px
}
.home-categories UL A:hover {
	COLOR: #38a42f; TEXT-DECORATION: underline
}
.addFav {
	WIDTH: 290px;  HEIGHT: 65px
}
.addFav A {
	Z-INDEX: -1; WIDTH: 145px; FLOAT: left; HEIGHT: 65px; FONT-SIZE: 0px
}
.statcs TABLE {
	BORDER-BOTTOM: #ddd 1px solid; WIDTH: 290px; HEIGHT: 180px
}
.statcs TABLE TD {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.statcs TABLE TH {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.newest-block IMG {
	WIDTH: 68px; HEIGHT: 65px
}
.newest-block {
	WIDTH: 290px; HEIGHT: 65px
}
.newest-block .fr {
	WIDTH: 222px
}
.newest-block .fr A {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; PADDING-TOP: 8px
}
.newest-block .fr A:hover {
	COLOR: #38a42f
}
.newest-bj {
	BACKGROUND: rgb(243,253,242)
}
.hotSearch {
	WIDTH: 290px
}
.hotSearch UL LI {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px; FLOAT: left; COLOR: rgb(153,153,153); FONT-SIZE: 14px; PADDING-TOP: 8px
}
.hotSearch A:hover {
	COLOR: #38a42f
}
.friendship {
	HEIGHT: 225px; OVERFLOW: hidden; BORDER-TOP: #ddd 1px dashed
}
.friend {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 45px; WIDTH: 910px; PADDING-RIGHT: 45px; PADDING-TOP: 0px
}
.friend-control LI {
	DISPLAY: inline; FONT: bold 16px "Î¢ÈíÑÅºÚ"; FLOAT: left
}
.friend-control LI A {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; PADDING-TOP: 20px
}
.friend-control LI A:hover {
	COLOR: #38a42f; TEXT-DECORATION: none
}
.friend-list LI {
	DISPLAY: inline; FLOAT: left; HEIGHT: 30px
}
.friend-list A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; DISPLAY: block; COLOR: #ccc; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.friend-list A:hover {
	COLOR: #38a42f
}
.flexslider {
	HEIGHT: 320px
}
.flexslider IMG {
	HEIGHT: 320px
}
.download-page {
	MARGIN-TOP: 20px; WIDTH: 735px; BACKGROUND: #f4f4f4; HEIGHT: 440px
}
.download-content {
	WIDTH: 288px; PADDING-TOP: 75px
}
.download-content H2 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 16px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; COLOR: #6b6b6b; FONT-SIZE: 15px; FONT-WEIGHT: bolder; PADDING-TOP: 16px
}
.download-content H2 SPAN {
	COLOR: #38a42f
}
.download-btn {
	WIDTH: 133px; HEIGHT: 44px
}

.download-content TEXTAREA {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 92%; PADDING-RIGHT: 10px; HEIGHT: 120px; PADDING-TOP: 10px
}
#right_goTopBtn {
	Z-INDEX: 1000; POSITION: fixed; WIDTH: 54px; BOTTOM: 25%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top; HEIGHT: 231px; RIGHT: 10px; _position: absolute
}
#right_goTopBtn .right_top A {
	DISPLAY: block; HEIGHT: 58px
}

#right_goTopBtn .right_user_fav A {
	DISPLAY: block; HEIGHT: 55px
}
#right_goTopBtn .right_user_fav A:hover {
	 BACKGROUND-POSITION: 0px -58px
}
#right_goTopBtn .right_user_dl A {
	DISPLAY: block; HEIGHT: 59px
}
#right_goTopBtn .right_user_dl A:hover {
	 BACKGROUND-POSITION: 0px -113px
}
#right_goTopBtn .right_bottom A {
	DISPLAY: block; HEIGHT: 59px
}
#right_goTopBtn .right_bottom A:hover {
	 BACKGROUND-POSITION: 0px -172px
}
#user-home-menu {
	MARGIN-TOP: 0px; FLOAT: right; OVERFLOW: hidden
}
.user-fav {
	POSITION: absolute; WIDTH: 91px; DISPLAY: none;  HEIGHT: 39px; TOP: 10px; LEFT: 10px
}

.user-rfav {
	POSITION: absolute; WIDTH: 91px; DISPLAY: none;HEIGHT: 39px; TOP: 10px; LEFT: 10px
}

.user-dl {
	POSITION: absolute; WIDTH: 91px; DISPLAY: none; HEIGHT: 39px; TOP: 10px; RIGHT: 10px
}


.uploadN {
	BACKGROUND-COLOR: #CCCCCC; BORDER-TOP: #f4f4f4 1px solid ; margin-bottom:-10px
}